.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    /* background-color:#e5e5e5; */
    text-align:center;
    color:black;
}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 40px; /* height of footer */
}